html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

/* .grid-container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    grid-template-rows: repeat(16, auto);
    grid-template-columns: repeat(16, auto);
}

.row, .col {
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(190, 190, 190);
    width: 32px;
    height: 32px;
} */