html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.main {
    display: flex;
    background-color: rgb(235, 235, 235);
    max-width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.grid-container {
    display: flex;
    width: 640px;
    height: 640px;
    background-color: rgb(245, 245, 245);
    border: 4px solid rgb(190, 190, 190);
    border-radius: 8px;
}

.options-container {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 640px;
    background-color: rgb(245, 245, 245);
    border: 4px solid rgb(190, 190, 190);
    border-radius: 8px;
}

/* .grid-container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    grid-template-rows: repeat(16, auto);
    grid-template-columns: repeat(16, auto);
}

.row, .col {
    background-color: rgb(243, 243, 243);
    border: 1px solid rgb(190, 190, 190);
    width: 32px;
    height: 32px;
} */